*{
	padding:0;
	margin: 0;
}
body{
	font-size: 62.5%;

}
.nav{
	position: fixed;
	width: 100%;
	height: 60px;
	z-index: 111;
}
.nav-box{
	width: 99%;
	height: 60px;
	margin: 0 auto;
}
.nav-left{
	width: 35%;
	height: 50px;
	float: left;
	margin-top: 5px;
}
.nav-left img{

    width: 300px;
}
.nav-mid{
	width: 52%;
	height: 50px;
	float: left;
	margin-top: 5px;

}
.nav-right{
	width: 10%;
	height: 50px;
	float: left;
	margin-top: 5px;

}
.nav-mid li{

    list-style: none;
    float: left;
    line-height: 50px;
    margin: 0 17px;

}
.nav-mid a{
	font-size: 2em;
	font-family: "微软雅黑";
	color:#FFF;

}
.nav-mid a:hover,.nav-mid a:active,.nav-mid a:link{
	text-decoration: none;	
}
.nav-right .login{
	width: 35px;
    margin: 5px;
}
.nav-right .fangda{
	margin-left: 20px;
}
.box{
	width:100%;
	height: auto;
	background-color:#6CAFFD;
	padding: 40px;
	margin-top: -39px;
}
.box-1{
    width: 900px;
    height: 100px;
    margin: 0 auto;
    color: #fff;

}
.box-2{
	width: 930px;
	height: 450px;	
	margin: 0 auto;

}
 .find{
   float: right;
   color: #fff;
}
.find:hover{
	color: #fff;
	text-decoration: none;
}
.box-2 img{
    padding: 60px 12px 12px 12px;
}
.box-2 img:hover{
	-webkit-filter: blur(3px);
    filter: blur(3px);
    -o-filter:blur(3px);
    -ms-filter:blur(3px);
    transition: all 1s ease;
	-ms-transition:all 1s ease;
	-o-transition:all 1s ease;
	-webkit-transition:all 1s ease;
}
.box .box-2-1{
	position: absolute;
	margin: -180px 0 0 80px;
	border-bottom: 1px solid #FFF;	

}
.box .box-2-2{
	position: absolute;
	margin:-130px 0 0 56px;
}
.box .box-2-3{
	position: absolute;
	margin: -180px 0 0 390px;
	border-bottom: 1px solid #FFF;
}
.box .box-2-4{
	position: absolute;
	margin:-130px 0 0 370px;
}
.box .box-2-5{
	position: absolute;
	margin: -180px 0 0 700px;
	border-bottom: 1px solid #FFF;
}
.box .box-2-6{
	position: absolute;
	margin: -130px 0 0 680px;
}
.box p{
	color: #fff;
	font-size: 2.5em;
	font-family: "微软雅黑";
}
.box-3{
	width: 100%;
	height: 800px;
	padding: 40px;
}
.box-3-1{
    width: 900px;
    height: 100px;
    margin: 0 auto;
    color: #000;
}
.find-1{
	float: right;
	color: #000;
}
.box-3-2{
	width: 930px;
	height: auto;
	margin: 0 auto;

}
.box-3-2 li{
	list-style: none;
}
.box-3-2 a:hover{
	text-decoration:none; 
}
.boxx{
	width: 300px;
	height: 250px;
	border-top: 4px solid #6CAFFD;
	border-right: 1px solid #FFF;
	border-left: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	float: left;
    margin: 5px;
    box-shadow: 2px 2px 5px #BEBEBE;
}

.box-4-1 .text-1{
	font-size: 2.3em;
	font-weight: bold;
	color: #000;
	padding: 10px;
    letter-spacing: 1px;
}
.box-4-1{
	color: #000;
}
.box-4-1 .text-2{
	font-family: "幼园";
	font-size: 2em;
	letter-spacing: 1px;
	color:#363636;
}
.box-4-1 .text-3{
	color: #363636;
}
.box-4-1 a{
	color: #1C1C1C;
}
.box-4-1 .find-2{
    font-size: 2.4em;
    display: inline-block;
    margin-left: 20px;
}
.foot-box{
	position: relative;
	width: 100%;
	height: 100px;
	background-color:#6CAFFD;
}
.foot-box .foot-box-1 li{
	float: left;
	list-style: none;
	font-size: 2.5em;
	width: 80px;
	text-align: center;

}
.foot-box .foot-box-1{
	width: 930px;
	height: 30px;
	margin: 0 auto;

}
.foot-box .foot-box-1 ul{
	margin-left: 170px;
}
.foot-box-1	li a{
	line-height: 4;
	color:#fff;
}
.foot-box li a:hover{
	text-decoration: none;
}
.foot-box .foot-box-2 li{
	float: left;
	list-style: none;
	margin-left: 9px;
	font-size: 2.5em;
	color: #fff;

}
.foot-box-2{
	width: 930px;
	height: 10px;
    margin: 0 auto;

}
